---
layout: page
# The Home page layout
---

{% assign tag_name = 'complete' %}
{% assign tag_posts = site.tags[tag_name] %}
{% assign tag_count = tag_posts | size %}

  <section class="hero">
    <div class="hero-image" style="background-image: url('assets/img/mountains.jpeg')">
      <div class="hero-text">
        <h1></h1>
      </div>
    </div>
  </section>
  
  <section class="main-content">
    <div class="container">
      <h1>Welcome</h1>  

      <p>This site is still under construction and may take a bit for me to finish. I only have a few HTB writeups availble right now, but I'm working on a lot of other content to publish soon!</p>
    </div>
  </section>

  